@charset "utf-8";

html{
    background-color: rgb(201, 239, 201);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(152, 255, 152);
}

nav.horizontalNavigation a {
    background-color: lightcyan;
    font-family: Champagne, cursive;
    font-size: 1.4em;
    line-height: 1.8em;
    text-align: center;
}

nav.horizontalNavigation a:link,
nav.horizontalNavigation a:visited {
    color: rebeccapurple;
}

nav.horizontalNavigation a:hover,
nav.horizontalNavigation a:active {
    background-color: floralwhite;
}

section#leftColumn p{
    color:red;
    font-size: 0.9em;
    line-height: 1.6em;
}

body > footer {
    font-size: 0.9em;
    color: navy;
}

body > footer h1 {
    color: cornflowerblue;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 0.2em;
    margin: 1em 0 0.5em 1em;
}

nav.horizontalNavigation ul {
    margin-left: 1em;
    line-height: 2em;
}

nav.horizontalNavigation a:link,
nav.horizontalNavigation a:visited {
    color: rebeccapurple;
}

nav.horizontalNavigation a:hover,
nav.horizontalNavigation a:active{
    text-decoration: underline;
}

section#contactInfo p {
    line-height: 1.4em;
    margin: 1em;
}

html{
    background-color: rgb(201, 239, 201);
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    background-color: rgb(152, 255, 152);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > header > img {
    display: block;
    width: 100%;
}

body > header > nav.horizontalNavigation li {
    width: 20%;
}

nav.horizontalNavigation > ul > li {
    display: block;
    float: left;
}

nav.horizontalNavigation a {
    background-color:rgb(152, 255, 152);
    display: block;
    font-family: Champagne, cursive;
    font-size: 1.4em;
    line-height: 1.8em;
    text-align: center;
}

nav.horizontalNavigation a:link,
nav.horizontalNavigation a:visited {
    color: rebeccapurple;

}

nav.horizontalNavigation a:hover,
nav.horizontalNavigation a:active {
    background-color: floralwhite;
}

h1 {
    text-indent: 1em;
}

body > header h1 {
    font-size: 2.4em;
    line-height: 2.4em;
    font-family: Champagne, cursive;
    letter-spacing: 0.3em;
    text-align: center;
    font-weight: normal;
    color:white;
}

body > article > h1, body > section > h1, body > aside > h1, body > section > article > h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em 0;
}

body > article > h1, body > section > h1, body > aside > h1 {
    font-size: 1.3em;
    background-color: aliceblue;
    color: darkslategray;
}

section > article > h1 {
    font-size: 1.1em;
}

p {
    margin: 1em;
    font-size: 1.4em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    width: 100%;
    display: block;
}

aside {
    background-color:rgb(152, 255, 152);
    padding-bottom: 2em;
}

aside > h1 {
    text-align: center;
    background-color: floralwhite;
    color: rebeccapurple
}

dl{
    font-size: 1.7em;
}

dl > dt {
    color: black;
    margin: 1.9em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: ivory;
}

dl > dd {
    margin: 0 1em 0 1em;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    color: white;
    background-color: aliceblue;
    font-size: 1em;
    padding: 1em 0;
    text-align: center;
}

body > header > h1 {
    background-color:rgb(152, 255, 152);
    color:midnightblue;
    font-family: Champagne, cursive;
    font-size: 3.0em;
    font-weight: normal;
    letter-spacing: 0.1em;
    line-height: 2em;
    text-align: center;
}

main {
    background-color:rgb(152, 255, 152);
    clear: both;
}

body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "header   header"
                          "intro    faq"
                          "articles     faq"
                          "footer   footer";
    grid-column-gap: 15px;
}

body > header {
    grid-row: 1;
    grid-column: 1/-1;
}

body > article {grid-area: intro;}
body > aside {grid-area: faq;}
body > section {grid-area: articles;}
body > footer {grid-area: footer;}

section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section > h1 {
    grid-area: 1/1/2/3;
}

.navi{
    width: 100%;
    height: 90vh;
    display: flex;
    text-align: center;
}

.menu{
    width: 30%;
    background-color: floralwhite;
}

.menu a{
text-decoration: underline;
color: rebeccapurple;
font-size: 18px;
font-family: Champagne, cursive;
letter-spacing: 2px;
display: list-item;
padding: 20px;
border-top: 0px solid floralwhite;
border-bottom: 1px solid floralwhite;
margin-bottom: 63px;
}

.menu a:hover{
    background-color: lightskyblue;
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.title {
    
        width: 300px;
        
        position: relative;
    
        top: 0px;
        right: 220px;
       
    }

.pic1{

    width: 370px;
    position: relative;

    bottom: 500px;
    left: 189px;
    
}

.pic2{
    width: 309px;
    height: 1px;
    position: relative;

    bottom: 550px;
    left: 610px;
}


.des1{
    font-family: Arial, "Times New Roman";
    font-size: 22px;
    font-style: italic;
    text-align: center;
    position: relative;
    bottom: 500px; 
    right: 50px;
}

.des2 {
    font-family: Arial, "Times New Roman";
    font-size: 22px;
    font-style: italic;
    text-align: center;
    position: relative;
    bottom: 500px; 
    right: 435px;
}

.contact {
    position: relative;
    top: -450px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: mintcream;
    margin-right: -330px;
}
 
 /*-*/

div.gallery {
    margin: 5px;
    border: 5px solid floralwhite;
    float: left;
    width: 300px;
  }
  
  div.gallery:hover {
    border: 1px solid darkslateblue;
  }
  
  div.gallery img {
    width: 100%;
    height: 450px;
  }
  
  div.desc {
    padding: 15px;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    background-color: papayawhip;
  }


  /*--------*/

  div.box {
    position: absolute;
    left: 570px;
    top: 1150px;
    height: 20px;
    margin: 1px;
    border: 1px solid floralwhite;
    float: right;
    width: 300px;
    
  }

  div.box:hover {
    border: 1px solid darkslateblue;
  }
  
  div.box img {
    width: 100%;
    height: 450px;
  }

  div.desc1 {
    position: absolute;
    padding: 30px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    background-color: papayawhip;

  }


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: darkslategray;
    color: ghostwhite;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: skyblue;
  }
  
 