body {background-color: snow;
    font-family:Arial, Helvetica, sans-serif;}
    


    h1{color: snow;}
    nav > ul {line-height:2em;
    list-style-type: none;
    padding-left:5px;
}

    h2{color: snow;}
    nav > ul {line-height: 2em;
    list-style-type: none;
    padding-left:5px;}

    h3{color: snow;}
    nav > ul {line-height: 2em;
    list-style-type: none;
    padding-left:5px;}

    h4{color: rgb(75, 75, 177) ;}
    nav > ul {line-height: 2em;
    list-style-type: none;
    padding-left:5px;
} 

    h5{color: rgb(75, 75, 177) ;}
    nav > ul {line-height: 2em;
    list-style-type: none;
    padding-left:5px;}



    section {background-color: honeydew;
    width: 75%;
    font-size: 1.2em;}


footer {background-color: none; } 

h4 {
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-size: 30px; }

h5 {
    font-family: 'Tahoma', 'Geneva', 'Verdana', serif;
    font-size: 30px;
}
